
<style>
header h1 {
	font-size: 5em;
	font-weight: light;
	color: #BC9B5D;
	font-family: 'Rajdhani';
	  line-height: 0.3;
}
</style>
<div>

<h1>Tips on Quitting Smoking<br><br></h1>
	<img src="../public/image/tips.jpg">
<br><br>
<p>Quit smoking now and you will see the benefits! By quitting smoking, you can:
Reduce the risk of suffering from fatal diseases caused by smoking
Save money from buying cigarettes
Protect your family against hazards of secondhand smoke
Smell fresh and build up a healthy image
Physical recovery starts shortly after you quit smoking:
In 20 minutes, blood pressure and heart rate drop to normal
In 12 hours, the carbon monoxide level in blood drops to normal
In 2 to 12 weeks, circulation and lung function improve
In 1 to 9 months, coughing and shortness of breath decrease
In 1 year, chance of having coronary heart disease is cut in half
In 5 to 15 years, risk of stroke is reduced to that of a non-smoker
In 10 years, risk of dying from lung cancer is about half that of a smoker
In 15 years, risk of coronary heart disease is that of a non-smoker
Quit smoking sets you free! You will be free from the trouble of finding a place to smoke in no smoking area.
When to quit?
When should I quit smoking? The earlier you quit, the more you will be benefited. According to a study conducted in United Kingdom that lasted for 50 years, it was found that a smoker who quit at the age of 30 may reclaim 10 years of life that might have lost due to smoking.
Age of stopping smoking	Life Year Saved (LYS)
30	10 years
40	9 years
50	6 years
60	3 years
Reference: R Doll, R Peto, J Boreham, I Sutherland. Mortality in relation to smoking: 50 years' observations on male British doctors. BMJ 2004;328:1519
Method of Quitting
You may quit smoking in a number of ways, such as going cold turkey, joining smoking cessation services and using medications. It takes determination and perseverance as well as a healthy lifestyle for one to quit smoking successfully.
Preparation before quitting:
Make yourself clear about the reason(s) of quitting
Set a quit day and enlist support from family and friends
Try to cut down the number of cigarettes smoked before quit date
Beginning from quit day:
Refrain from smoking completely, not even one puff
Discard all cigarettes, ashtrays and lighters
Avoid staying in places where people smoke
When someone offers you a cigarette, tell him/her firmly that you have quit smoking and take the initiative to advise him/her to quit
You may also refer to our Quitting Tips for more tips on quitting smoking.
Medications for Quitting Smoking
Medications for quitting smoking can alleviate the short-term discomforts that may appear when smokers start to quit smoking. A treatment course usually takes 3 to 6 months to complete and most of these medications can be bought at drug stores or pharmacies with registered pharmacists. Please refer to Medications for Quitting Smoking for further details.
Counselling on Quitting Smoking
The Department of Health, Hospital Authority and some private hospitals as well as private doctors organise smoking cessation services for quitters. The smoking cessation clinics under the Department of Health provide counselling to quitters and medications will be prescribed to quitters if necessary.
Please refer to Smoking Cessation Clinic and Smoking Cessation Hotline (1833 183) for further details.
I've quit smoking......
When you start to quit smoking, you should lead a persistent healthy lifestyle in order to prevent relapse to smoking again. A healthy lifestyle consists of a balanced diet, regular exercises and a healthy mind.
Balanced Diet
Quitters may experience weight gain because of increased appetite, a regain of the sense of taste and a reduction in metabolism after quitting smoking. Therefore it is necessary for quitters to keep a balanced diet to prevent a sharp rise in body weight. Eating the right amount of food and a daily intake of at least 2 servings of fruits and 3 servings of vegetables is recommended as part of a balanced diet. Drink more water. You may take some snacks of low calorie if necessary.
Adequate Exercise
Exercise can improve your heart and lung functions as well as enhance the chance of quitting and keep your body weight under control. You may formulate your exercise plan according to your age and interest, such as jogging, swimming, hiking, cycling, tai chi, etc. At least 30 minutes of physical activity of moderate intensity on most days of the week is already sufficient to provide health benefits.
Mental Health
Problems encountered in daily life, from problem minor as traffic jam to problem major as family conflicts, can all induce stress. An appropriate level of stress can heighten awareness, improve learning ability and work performance. However, if stress is too severe or lasts too long, it can interfere with our physical functions. If stress is not handled properly, it may cause a quitter to relapse ;and smoke again.
Have an optimistic and positive attitude; don't dwell on the negative. Know your own strengths and weaknesses; don't force yourself to take on tasks that are beyond your capabilities. Taking part in healthy activities not only helps to enlarge your social circle, it also helps you relax. If a problem arises, discuss it with your loved one or close friends. Remember, sometimes we may encounter emotional disturbances, but smoking will not help to solve the problem.
Slip without falling
It is much harder to stay a non-smoker if you have had a cigarette, so do everything to avoid a lapse. Even if you slip over, you should keep moving forward:
Don't think in an "all-or-none" manner. A slip means you have had a small setback but it does not mean that you have failed completely. Get back on track and you will kick the habit.
Learn from mistakes. Identify the trigger that makes you smoke again and decide how to cope with it again when it arises.
Enlist support from family, partner and friends. Feel free to call our Smoking Cessation Hotline at 1833 183 and talk to us.
Beware of common triggers/traps such as: weight concern, stress, unhealthy lifestyle, improper use of medications for quitting smoking, etc.
Well, if you really failed to quit, do not feel guilty and just try again. Many people tried to quit smoking many times before achieving success.
</p>
</div>
